page-profile {
    .username {
        font-size: 1.3em;
      }
      .label {
        color: #7f7f7f;
      }

      
}
[cards] {
  .grid-full ion-col {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 5px 0;
  }
  .row {
      padding: 0 5px;
  }
  .col {
      padding: 5px 0;
  }
  .card {
      margin: 0 5px;
      width: calc(100% - 10px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
      border-radius: 4px;
      h1 {
          font-weight: 400;
          font-size: medium;
          font-size: 3.5rem;
      }
      p {
          font-weight: 100;
          font-size: 1.5rem;
      }
  }
}