<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-avatar item-start (click)="updateProfileImage()">
        <img [src]="placeholderPicture">
      </ion-avatar>
      <p class="username">{{user?.firstName}} {{user?.lastName}}</p>
      <p *ngIf="user?.email">{{user?.email}}</p>
      <p *ngIf="user?.phone">{{user?.phone}}</p>
    </ion-list-header>
  </ion-list>
  <ion-list>
    <button ion-item detail-push (click)="LinkBanks()">
      Link bank to you're account
    </button>
    <button ion-item detail-push (click)="EditProfile()">
      Edit your profile
    </button>
    <button ion-item detail-push (click)="SignOut()">
      Sign out
    </button>
  </ion-list>

  <ion-list no-border>
    <ion-list-header>
      My banks
    </ion-list-header>
    <ion-item *ngFor="let bank of banks" (click)="removeBank(bank.id)">
      <ion-avatar item-start class="logo">
        <img src="assets/logo/Nordea200px.png">
      </ion-avatar>
      <h2>{{bank.fullName}}</h2>
      <button ion-button outline item-end>Disconnect</button>
    </ion-item>
  </ion-list>
  <!-- <ion-list>
    <ion-list-header>
      Add banks
    </ion-list-header>
    <ion-item *ngFor="let bank of banksNotAdded" (click)="showBank(bank)">
      <ion-avatar item-start class="logo">
        <img src="../../assets/logo/Nordea200px.png">
      </ion-avatar>
      <h2>{{bank.fullName}}</h2>
      <button ion-button outline item-end (click)="buttonClick()">Add bank</button>
    </ion-item>
  </ion-list> -->
  <!-- <ion-list>
    <ion-list-header>
      Currency
    </ion-list-header>
    <ion-item>
      <ion-icon name='card' item-start></ion-icon>
      <ion-label>Payment Method</ion-label>
      <ion-select [(ngModel)]="paymentMethod">
        <ion-option *ngFor="let method of paymentMethods" [value]="method">{{method}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name='logo-usd' item-start></ion-icon>
      <ion-label>Currency</ion-label>
      <ion-select [(ngModel)]="currency">
        <ion-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list> -->





</ion-content>