<ion-header>
  <ion-navbar>
    <ion-title>MY BANKS</ion-title>
    <ion-buttons end>
      <button clear (click)="openLogin()" ion-button outline>
        <ion-icon style="zoom:1.5;" class="iconAdd" name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides pager class="slider">
    <ion-slide *ngFor="let bank of banks">
      <div class="wrapper">
        <header (click)="showBank(bank)">
          <div class="headerImage">
            <div [ngStyle]="{'background': 'url(../assets/banks/nordea/' + bank.shortName + '.png) no-repeat top left', 'margin-left':'18px','margin-top':'13px', 'background-size': 'contain','height':'36px','width':'36px'}"></div>
          </div>
          <div class="headerTitle">{{bank.fullName}}</div>
        </header>
        <main>

          220$
          <div>Available balance</div>

        </main>
        <footer>
          <ion-item>
            <div (click)="showActionsSheetAccounts()">
              <div style="color:#8E8E93;font-size: 12px">
                Select account
              </div>
              <div style="width: 100%;">
                <span style="color:#000;font-weight: 500; font-size: 15px">{{selectedAccount?.iban}}</span>
                <div float-right class="arrowDisclosure">
                  <!-- <ion-icon class="arrowDisclosure" name="arrow-down" style="color:#C7C7CC"></ion-icon> -->
                </div>
              </div>
            </div>

          </ion-item>
        </footer>
      </div>
    </ion-slide>
  </ion-slides>
  <div style="margin:5px;color:#8E8E93;">
    Transaction history
  </div>
  <ion-list>

    <ion-item *ngFor="let transaction of transactions" (click)="showTransaction(transaction.id)">
      <ion-icon [ngClass]="getIcon(transaction.amount.value)" item-start [style.color]="getColor(transaction.amount.value)"></ion-icon>
      <h2>
        <b>{{transaction.relatedParty.name}}</b>
      </h2>

      <p>{{transaction.bookingDate}}</p>
      <h2 item-end [style.color]="getColor(transaction.amount.value)">{{transaction.amount.value}}{{transaction.amount.currency}}</h2>

    </ion-item>

  </ion-list>


</ion-content>