<ion-header>
  <ion-navbar>
    <ion-title>MY BANKS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only margin-right (click)="openLogin()">
        <ion-icon name="add" style="zoom:1.0;"></ion-icon>
      </button>
    </ion-buttons>



  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides pager class="slider" (ionSlideDidChange)="slideChanged($event)">
    <ion-slide id="{{bank.id}}" *ngFor="let bank of banks">
      <div class="wrapper">
        <header (click)="showBank(bank)">
          <div class="headerImage">
            <div [ngStyle]="{'background-image': 'url(assets/banks/nordea/' + bank.shortName + '.png) no-repeat top left', 'margin-left':'18px','margin-top':'13px', 'background-size': 'contain','height':'36px','width':'36px'}"></div>
          </div>
          <div class="headerTitle">{{bank.fullName}}</div>
        </header>
        <main>
          {{getRandom()}}
          <div>Available balance</div>

        </main>
        <footer>
          <ion-item>
            <div (click)="showActionsSheetAccounts()">
              <div style="color:#8E8E93;font-size: 12px">
                Select account
              </div>
              <div style="width: 100%;">
                <span *ngIf="selectedAccount" style="color:#000;font-weight: 500; font-size: 15px">{{selectedAccount?.iban}}</span>
                <span *ngIf="!selectedAccount" style="color:#000;font-weight: 500; font-size: 15px">{{loadingText}}</span>
                <div float-right class="arrowDisclosure">
                  <!-- <ion-icon class="arrowDisclosure" name="arrow-down" style="color:#C7C7CC"></ion-icon> -->
                </div>
              </div>
            </div>

          </ion-item>
        </footer>
      </div>
    </ion-slide>
  </ion-slides>
  <div style="margin:5px;color:#8E8E93;">
    Transaction history
  </div>
  <ion-list>

    <ion-item style="height: 100px" *ngFor="let transaction of transactions" (click)="toastTransaction(transaction)">
      <ion-icon small [ngClass]="getIcon(transaction.amount.value)" item-start [style.color]="getColor(transaction.amount.value)"></ion-icon>
      <h2>
        <b>{{transaction.relatedParty.name}}</b>
      </h2>
      <p>Value date: {{transaction.valueDate | momentFormat}}</p>
      <p>Booked date {{transaction.bookingDate | momentFormat}}</p>
      <p>{{transaction.description}}</p>
      <h2 item-end [style.color]="getColor(transaction.amount.value)">{{transaction.amount.currency | currencySymbol}} {{transaction.amount.value | formatCurrency}}</h2>

    </ion-item>

  </ion-list>


</ion-content>