page-bank {

        .newHeaderStyle{
            height: 87px;
            background-color: white;
        }
        .toolbar-background {
            background-color: white;
        }
        
}

